{
  "extends": "standard-with-typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-inline-comments": "warn",
    "multiline-comment-style": "warn",
    "spaced-comment": "warn",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/no-misused-promises": "off",
    "n/no-path-concat": "off",
    "@typescript-eslint/no-throw-literal": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/return-await": "off",
    "@typescript-eslint/consistent-type-imports": "off",
    "@typescript-eslint/no-confusing-void-expression": "off"
  }
}
